node_modules/
config/userConfig.json
studycrawling/
bing_scraper/
google-images-download/
public/img/download/*/g_0002*
public/img/download/*/g_0003*
public/img/download/*/g_0004*
public/img/download/*/g_0005*
public/img/download/*/g_0006*
public/img/download/*/g_0007*
aws-second-nodejs.cer
awsWorkmap.cer
.DS_Store
public/.DS_Store