.cluster1 {
	width:25px;
	height:25px;
	line-height:26px;
	font-size:10px;
	border-radius:50%;
	color: white;
	text-align: center;
	font-weight: bold;
	background: rgba(252, 122, 252, 0.844);
}

.cluster2 {
	width:35px;
	height:35px;
	line-height:36px;
	font-size:12px;
	border-radius:60%;
	color: white;
	text-align: center;
	font-weight: bold;
	background: rgba(235, 9, 209, 0.55);
}

.cluster3 {
	width:45px;
	height:45px;
	line-height:46px;
	font-size:15px;
	border-radius:70%;
	color: white;
	margin:auto;
	padding:auto;
	text-align: center;
	font-weight: bold;
	background: #9b2977b3;
	opacity: 0.84;
}

#bank {
	background:#ff0000;
}

#entertainment {
	background :#FF7F00
}

#living {
	background :#FFFF00;
}

#game {
	background: #00FF00;
}

#network {
	background:#0000FF;
}

#shopping {
	background : #4B0082;
}

#software {
	background : #9400D3; /*https://www.krishnamani.in/color-codes-for-rainbow-vibgyor-colours/ */
}

#innovation {
	background: #000000;
}

#ai {
	background: #964b00;
}
