body {
	font-family: 'Jua', sans-serif;
}

@media  screen and (min-width: 992px){
	.container {
	  max-width:1300px;
	}	
}

#map {
	width : 100%;
	padding : 0px;
	margin:0px;
}

/* placesList */
#placesList {

	position : absolute;
	top : 50px;
	left : 0;
	right: 0;
	bottom : 0;
	padding : 5px;
	overflow-y : auto;
	background : rgba(255,255,255,0.7);
	width:100%;
}

#placesList .item {

	position : relative;
	border-bottom:1px solid #888;
	overflow : hidden;
	cursor : pointer;
	width : 100%;

}

.fs-4 img {
	width : 4vw;
	padding-top:1vh;
	padding-bottom:1vh;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

.img-wrapper { 
	position: relative; 
	margin : auto;
	float: center;
	width: 15vw; 
	height: 15vw; 
	display:flex;
	justify-content: center;
} 

.img-wrapper img {
	display: block; 
	margin : auto;
	min-width: 60%; 
	max-height: 100%; 
	-ms-interpolation-mode: bicubic; 
}

.card {
	width:35vw;
	font-size:calc(9px + 5 * ((100vw - 500px) / 900));
}

.card-title {
	font-size:calc(11px + 5 * ((100vw - 500px) / 900));
}

.card-brand {
	font-size:cacl(9px + 5 * ((100vw-500px) / 900));
	color:grey;
	margin : 0px;
	padding:0px;
}

.btn-outline-info {
	width : 10vw;
	margin : 1;
	padding : 1;
	text-align: center;
	font-size : calc(7px + 3 * ((100vw - 500px) / 900));
}