body {
	padding: 0px;
	margin : 0px;
}

#map {
	padding : 0px;
	margin:0px;
}

#map:focus {
	outline : none;
}

.mb-3 {
	/*space between navbar*/
	margin-bottom : 0px !important;
}

.mapcol {
	padding : 0px;
}

.info.body {
	position : relative;
	overflow:hidden;
}

.info.desc {
	position:relative;
	margin :8px 0 0 90px;
	height : 75px;
	display : block;
}


.infowindow_wrap {
	background : white;
	padding : 20px;
	border : 1px solid rgba(0,0,0,0.2);
	}
	
.infowindow_name {
	font-size : 15px;
	font-weight: bolder;
}

.infowindow_address {
	font-size : 13px;
	font-weight : normal;
}

.map_wrap, 
.map_wrap * {
	margin : 0;
	padding : 0;
	font-size : 12px;
}

#menu_wrap {
	position : absolute;
	top : 0;
	left : relative;
	bottom : 0;
	width : 300px;
	margin : 50px 0 30px 0px;
	padding : 0px;
	overflow-y : auto;
	background : rgba(255,255,255,0.7);
	z-index:1;
	font-size:14px;
	border-radius:10px;
}

#menu_wrap hr {
	display: block;
	height : 1px;
	border: 0;
	border-top : 2px solid #5f5f5f;
	margin : 3px 0;
}

#placesList {

	position : absolute;
	top : 50px;
	left : 0;
	right: 0;
	bottom : 0;
	padding : 5px;
	overflow-y : auto;
	background : rgba(255,255,255,0.7);
	width:100%;
}

#placesList .item {

	position : relative;
	border-bottom:1px solid #888;
	overflow : hidden;
	cursor : pointer;
	width : 100%;

}


#placesList .item span {
	display:block;
	margin-top : 4px;
}

#placesList .item .info {
	text-overflow : ellipsis;
	overflow : hidden;
	white-space : nowrap;
	padding : 20px;
}

#placesList .item .info_company {
	font-weight : bolder;
}