a {
	color: #00B7FF;
}

#map {
	padding : 0px;
	margin:0px;
}

#map:focus {
	outline : none;
}

.mb-3 {
	/*space between navbar*/
	margin-bottom : 0px !important;
}

.mapcol {
	padding : 0px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media  screen and (min-width: 992px){
	.container {
		max-width:1300;
	}	
}

/* 
ul {
list-style-type:none;
margin : 0px;
padding : 0px;
overflow:hidden;
background:#333;
position : fixed;
width : 100%;
z-index:1000;
}

li {
float: left;
} */

/* li a{
display:block;
color: white;
text-decoration : none;
text-align : center;
padding : 14px 16px;
}

.active {
background-color : green;
} */

li a:hover:not(.active) {
	/* background-color: #111; */
	font : #111;
}

.marker {
width : 15px;
height : 15px;
background : green ;
opacity : 60%; 
border : 1px solid black;
border-radius : 50%;
}

.infowindow_wrap {
background : white;
/* padding : 0px;
margin : 0px;
border : 1px solid rgba(0,0,0,0.2); */
}

.infowindow_name {
/* font-size : 15px; */
/* font-weight: bolrder; */
}

.infowindow_address {
/* font-size : 15px; */
padding:30px;
font-weight : normal;
}


#placesList {

	position : absolute;
	top : 50px;
	left : 0;
	right: 0;
	bottom : 0;
	/* width : 200px; */
	/* margin : 50px 0px 30px 10px; */
	padding : 5px;
	overflow-y : auto;
	background : rgba(255,255,255,0.7);
	/* font-size:12px; */
	/* border-radius:10px; */
	width:100%;
}

form {
	margin-right :0px;
	padding : 0px;
}

#placesList .item {

	position : relative;
	border-bottom:1px solid #888;
	overflow : hidden;
	cursor : pointer;
	width : 100%;

}
/* 
#placesList .item span {
	display:block;
	margin-top : 4px;
}

#placesList .item .info {
	font-size: 15px;
	text-overflow : ellipsis;
	overflow : hidden;
	white-space : nowrap;
	padding : 20px;
}

#placesList .item .info_company {
	font-weight : bolder;
} */


