body {
	font-family: 'Jua', sans-serif;
}

@media  screen and (min-width: 992px){
	.container {
	  max-width:1300px;
	}	
}

#map {
	padding : 0px;
	margin:0px;
}
/* placesList */
#placesList {

	position : absolute;
	top : 50px;
	left : 0;
	right: 0;
	bottom : 0;
	padding : 5px;
	overflow-y : auto;
	background : rgba(255,255,255,0.7);
	width:100%;
}

#placesList .item {

	position : relative;
	border-bottom:1px solid #888;
	overflow : hidden;
	cursor : pointer;
	width : 100%;

}

.fs-4 img {
	width : 30px;
	padding-top:10px;
	padding-bottom:7px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

.img-wrapper { 
	position: relative; 
	margin : auto;
	float: center;
	width: 10vw; 
	height: 10vw; 
	display:flex;
	justify-content: center;
} 

.img-wrapper img {
	display: block; 
	margin : auto;
	min-width: 60%; 
	max-height: 100%; 
	-ms-interpolation-mode: bicubic; 
}

.card-brand {
	font-size:14px;
	color:grey;
  }