<div class="row btn-row">
	<button onclick="spreadMarkers('')" type="submit" id="group_button" class="btn btn-lg" value="total">전체보기</button>
	<button onclick="spreadMarkers('game')" type="submit" id="group_button" class="btn btn-lg" value="game">게임</button> 
	<button onclick="spreadMarkers('software')" type="submit" id="group_button" class="btn btn-lg" value="software">소프트웨어</button>
</div>