<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0h8klh3dxv"></script>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=f40a2802b6187dff8911469bf1c1ed0a&libraries=services"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/welcome.css" />
  </head>
  <body>
    <%- include('../partials/nav') %>
    <!-- <div id="navbar">workmap</div> -->
    <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-1.5" id="box-left">
            <p><img src="img/game48.png" alt="game stick image" ><br>게임</p>
            <p><img src="img/bank48.png" alt="bank image"/><br>금융</p>
            <p><img src="img/shopping48.png" alt="cart image"/><br>쇼핑</p>
            <p><img src="img/social48.png" alt="social image"/><br>소셜네트워킹</p>
            <p><img src="img/food48.png" alt="food image"><br>음식및음료</p>
            <p><img src="img/life48.png" alt="entertainment image"><br>문화</p>
            <p><img src="img/etc48.png" alt="plus image"><br>기타</p>
        </div>
        <div class="col-3" >
            <form onsubmit="searchPlaces(); return false;" class="form-row">
                <div class="col-8">
                  <input type="text" value="" id="keyword" size="15" autocomplete="off" class="form-control">
                </div>
                <div>
                  <button type="submit" class="btn btn-outline-info">검색하기</button>
                </div>
            </form>
            <hr>
            <div id="placesList"></div>
        </div>

        <div class="col" style="padding:0px;margin:10px" id="box-right">
            <!-- <div id="infoBox">
                <div id="infoTitle">현재날짜</div>
                <div id="infoContent">2020.10.07</div>
            </div> -->
            <div id="map" style="width:100%;height:92vh;"></div>
        </div>
      </div>
    </div>
    </div>
<!-- <script type="text/javascript" src="/data/data.js"></script> -->
<script type="text/javascript" src="/javascripts/main.js"></script>

  <%- include('../partials/bootstrap_tail') %>
  </body>
</html>
