<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0h8klh3dxv"></script>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=f40a2802b6187dff8911469bf1c1ed0a&libraries=services"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/welcome.css" media="screen and (min-width:992px)"/>
    <link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width:992px)"/>
    <link rel="stylesheet" href="/css/cluster.css"/>
  </head>
  <body>

    <%- include('../partials/nav') %>
    <div class="container">
      <div id="lg-row">
        <div class="col-lg-1 col-sm col-md" id="box-left">
          <div class="btn-group-vertical" id="response" style="cursor: pointer;" >
            <div class="fs-4 mb-3 w-100" onclick="spreadMarkers('')">
              <img src="img/svg/building.svg" >
              <div class="grouptext" >Total</div>
            </div>
            <div class="fs-4 mb-3 w-100" onclick="spreadMarkers('innovation')">
              <img src="img/svg/logo42.png">
              <div class="grouptext">Innovation</div>
            </div>
            <div class="fs-4 mb-3 w-100" onclick="spreadMarkers('bank')">
              <img src="img/svg/money.svg" style="filter: invert(13%) sepia(88%) saturate(6765%) hue-rotate(359deg) brightness(78%) contrast(115%);">
              <div class="grouptext">Bank</div>
            </div>
            <div class="fs-4 mb-3 w-100" onclick="spreadMarkers('entertainment')">
              <img src="img/svg/entertainment.svg" style="filter: invert(53%) sepia(74%) saturate(1634%) hue-rotate(357deg) brightness(96%) contrast(112%);">
              <div class="grouptext">Entertain</div>
            </div>
            <div class="fs-4 mb-3 w-100" onclick="spreadMarkers('living')">
              <img src="img/svg/fastfood.svg" style="filter: invert(99%) sepia(60%) saturate(2662%) hue-rotate(357deg) brightness(78%) contrast(108%);">
              <div class="grouptext">Living</div>
            </div>
            <div class="fs-4 mb-3 w-100" onclick="spreadMarkers('game')">
              <img src="img/svg/game.svg" style="filter: invert(79%) sepia(51%) saturate(7500%) hue-rotate(80deg) brightness(78%) contrast(124%);">
              <div class="grouptext" >Game</div>
            </div>
            <div class="fs-4 mb-3 w-100" onclick="spreadMarkers('network')">
              <img src="img/svg/living.svg" style="filter: invert(8%) sepia(100%) saturate(7439%) hue-rotate(245deg) brightness(78%) contrast(126%);">
              <div class="grouptext">Network</div>
            </div>
            <div class="fs-4 mb-3 w-100" onclick="spreadMarkers('shopping')">
              <img src="img/svg/cart3.svg" style="filter: invert(13%) sepia(66%) saturate(5440%) hue-rotate(273deg) brightness(64%) contrast(119%);">
              <div class="grouptext">Shopping</div>
            </div>
            <div class="fs-4 mb-3 w-100" onclick="spreadMarkers('software')">
              <img src="img/svg/phone.svg" style="filter: invert(12%) sepia(75%) saturate(7498%) hue-rotate(283deg) brightness(87%) contrast(115%);" >
              <div class="grouptext" >Software</div>
            </div>
            
          </div>        
        </div> <!--col-lg-1 -->
        <div class="col-lg-3 d-none d-lg-block">
          <div class="row">  
            <form onsubmit="querySearchDB();return false;" class="form-row">
                <div class="col-8">
                  <input type="text" value="" id="keyword" size="15" autocomplete="off" class="form-control">
                </div>
                <button type="button" class="btn btn-outline-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                  </svg>
                </button>
            </form>
            <hr>
            <div id="placesList"></div>
          </div> <!-- "row"-->
        </div> <!-- col-lg-3 -->
        <div class="col-lg-8 col-sm col-md mapcol " id="box-right">
          <div id="map" style="width:100%;height:90vh;"></div>
        </div> <!--col-lg-8 -->
        <input type="hidden" id="isAuthenticated" name="isAuthenticated" value="<%= isAuthenticated?'T':'F'%>">
      </div>
    </div>

<script type="text/javascript" src="/javascripts/response.js"></script>
<script type="text/javascript" src="/javascripts/MarkerClustering.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

  <!--<%- include('../partials/bootstrap_tail') %>-->
  </body>
</html>
