<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0h8klh3dxv"></script>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=f40a2802b6187dff8911469bf1c1ed0a&libraries=services"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/upload.css" />
</head>
<body>
    <%- include('../partials/nav') %>
	<div class="container">
		<div id="map" style="width:100%;height:100vh"></div>
		<div id="menu_wrap">
			<form onsubmit="searchPlaces(); return false">
				 키워드: <input type="text" value="이노베이션 아카데미" placeholder='' onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value='';" id="keyword" size="15" />
				<button type="submit" class="btn-sm btn-info">검색하기</button>
			</form>
			<div id="placesList"></div>
		</div> 
	</div>
	<script type="text/javascript" src="javascripts/upload.js"></script>
</body>
</html>