<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
</head>
<body>
	<%- include('../partials/nav') %>
	<div class="container mb-3">


		
	</div> <!-- container -->	
</body>
</html>